@using MyDukkan.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/hint.css/2.3.2/hint.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Dükkan", "AnaSayfa", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/AnaSayfa">Ürünler</a>
                    </li>
                    <li>
                        <a href="/Home/Hakkimda">Hakkimda</a>
                    </li>
                    <li>
                        <a href="/Home/Mesaj">İletişim</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (Session["admin"] != null)
                    {
                        <li>
                            <a href="/SiteUsers/Index">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Products/Index">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/SignOut">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    }

                    @if (Session["kullanici"] != null)
                    {
                        <li>
                            <a href="/User/Profile">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/User/ShowBasket">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/SignOut">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    }

                    @if (Session["kullanici"] == null && Session["admin"] == null)
                    {
                        <li>
                            <a href="/Home/Login">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @{
        // TODO : AddThis Script code is here
    }
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    @*Hesap oluşturarak Addthis.com dan aldığınız script'i buraya ekleyiniz.*@

</body>



</html>